.side-panel{
  transform-origin:0px 0px;
  position:absolute;
  top:0;
  left:0;
  background:rgb(30, 30, 40);
  color:white;
  z-index:99;
  padding:4vw 6vw 6vw 4vw;
  border-radius:0px 0px 20px 0px;
  filter:drop-shadow(20px 0px 20px rgba(0,0,0,.5));
}
.side-panel h3{
  user-select: none;
  cursor:pointer;
}
.close-side-panel{
  transition:all .15s ease-in-out;
  font-size:150%;
  cursor:pointer;
}
.close-side-panel:active{
  transition:all .15s ease-in-out;
  opacity:.5;
}

.test{
  width:200px;
  height:200px;
  background:red;
}