.side-panel{
  position:absolute;
  top:0;
  left:0;
  height:100vh;
  background:rgb(30, 30, 40);
  color:white;
  z-index:10000;
  padding:4vw 6vw 0vw 4vw;
  filter:drop-shadow(20px 0px 20px rgba(0,0,0,.5));
}
.close-side-panel{
  transition:all .15s ease-in-out;
  font-size:150%;
  cursor:pointer;
}
.close-side-panel:active{
  transition:all .15s ease-in-out;
  transform:scale(1.5);
  opacity:.5;
}