body{
  padding:0;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
  -webkit-tap-highlight-color: transparent;
  background: rgb(20, 20, 30);
}
main {
  text-align: center;
  vertical-align: center;
  line-height: 100vh;
}
.stop-scrolling {
  height: 100%;
  overflow: hidden;
}

.container{
  width:85%;
  position:relative;
  margin:0 auto;
}
  
.bottom-spacer{
  height:25vh;
  width:100%;
}

/* Global settings */
.visible{
  display:block;
}
.hidden {
  display: none;
}

/* width */
::-webkit-scrollbar {
  width: 0px;
  height: 14px;
  cursor:pointer;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(136,136,136,.25);
  border-radius:20px;
}
::-webkit-scrollbar-track-piece{
  background: rgba(136,136,136,.05);
	border-radius:20px;
}


@media (max-width:850px){
 .container{
   width:100%;
 } 
}