:root {
  --coverOpacity: 1;
	--coverLeftAdjust: 0px;
  --arrowHidden: none;
  --arrowVisible: block;
}
.project-tile-row{
  padding: 5px 0px 5px 10px;
  width:calc(100% - 10px);
  z-index:-1;
  overflow-x:hidden;
}
.project-tile-row:hover{
  overflow-x: auto;
}

.project-tile-row::after{
  content:"";
  position:absolute;
  left:100%;
  transform:translateX(-300%);
  width:100vw;
  height: 300px;
  z-index:99;
  background: linear-gradient(-90deg, rgba(20, 20, 30,.85) 0%, rgba(0,0,0,0) 100%);  
  pointer-events: none;
}

.project-tile-row-cover{
	display:flex;
  align-items:center;
  flex-direction:row;
	gap:20px;
  width:calc(100% - 10px);
  z-index:2000;
}
.project-tile-row-cover::after{
	transition: opacity 1s ease-in-out;
	position:absolute;
	content:"";
	left:310px;
	transform:translateX(var(--coverLeftAdjust));
	width:50%;
	height:300px;
	opacity: var(--coverOpacity);
	z-index:99;
  background: linear-gradient(90deg, rgba(20, 20, 30,1) 0%, rgba(0,0,0,0) 100%);  
	pointer-events:none;
}

.project-tile-row-header{
  font-size:150%;
  font-weight:600;
  letter-spacing:.1em;
  padding: 20px 0px 0px 10px;
  color:white;
}


.project-tile-arrow{
  position:absolute;
  color:white;
  animation: slideArrow 2s ease-in-out infinite;
  font-size:3em;
  z-index:100;
  user-select:none;
  padding-top:125px;
  padding-left:20vw;
}

@keyframes slideArrow{
  0%{
    transform:translate(0vw,0px);
    opacity:0;
  }
  50%{
    opacity:.5;
  }
  100%{
    transform:translate(50vw,0px);
    opacity:0;
  }
}




@media (max-width:500px){
  .project-tile-row::after{
    height:210px;
  }
  .project-tile-arrow-container{
    height:210px;
  }
	.project-tile-row-cover::after{
		left:220px;
		height:210px;
	}

  .project-tile-arrow{
    font-size:2em;
    padding-top:90px;
    padding-left:20vw;
  }
}

